header{
    background-color: white;
    align-items: center;
    display: flex;
    margin-right: 80px;
    justify-content: end;
   +flex-direction: row;
   width: 100vw;
   height: 120px;
    
}
.logo{ 
    margin: 0;
    padding: 30px 135;
    width: 100vw;
   
}
    

img{
    width: 100px;
}
.login{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #96BB7C;
    text-align: right;
    margin-right: 10px;
    
}
.boton{
   margin-right: 150px;
}

.caja1{
    width: 100vw;
    height: 600px;
    margin: -5px;
    padding: 60px;
    display: flex;
    background-color: #DDF4FF;
    align-items: center;
    color: black;
    justify-content: center;
    gap: 35px;

}
.parte1{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    
}
.par1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #96BB7C;
    font-weight: bold;
}
.titulo{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 250;
}
.titulo2{
    font-size: 20px;
    color: #737373;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.botones{
    display: flex;
    gap: 11px;
}

.uno{
    padding: 15px 45px;
    font-size: 15px;
    background-color: #96BB7C;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    border: solid 1px #96BB7C;

}
.dos{
    padding: 15px 45px;
    font-size: 15px;
    background-color: transparent;
    color: #96BB7C;
    font-weight: 300;
    border-radius: 8px;
    border: solid #96BB7C 1px;
}

.imagen{
    width: 700px;
    height: 680px;

}

.caja2{
    width: 100vw;
    height: 200px;
    margin: -5px;
    padding: 60px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    color: #96BB7C;
    justify-content: center;
    gap: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    font-weight: bold;
}
.one{
    font-size: 40px;
    text-align: center;
      
}
.two{
    font-size: 40px;
    text-align: center;
}
.three{
    font-size: 40px;
    text-align: center;
}
.four{
    font-size: 40px;
    text-align: center;
}
.puno{
    color: black;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
}
.pdos{
    color: black;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
}
.ptres{
    color: black;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
}
.pcuatro{
    color: black;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
}

.caja3{
    width: 100vw;
    height: 500px;
    margin: -5px;
    padding: 60px;
    *display: flex;
    background-color: #FFF2F3;
    *align-items: center;
    color: black;
   *justify-content: left;
    gap: 35px;
    font-weight: bold;
    +font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.titulo3{
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0px;
}
.cuadroinfo{
    width: 270px;
    height: 200px;
    padding: 45px;
    background-color: white;
    color: black;
    text-align: left;
    box-shadow: 0px 5px 6px rgb(250, 248, 248);
}
.linea-roja {
    width: 50px;
    height: 2px;
    background-color: #E50914;
    margin: 10px 0;
    border: transparent;
}
.info{
    color: #737373;
}
.final{
    width: 105vw;
    height: 80px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    +flex-direction: row;
    justify-content: space-around;
    color: #737373;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;   
}
