body {
    margin: 0;
    padding: 0;
    background-image: url(fondo.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.caja{
    width: 800px;
    +height: 400px;
    padding: 30px;
    margin: auto;
    background: linear-gradient(130deg, rgba(0, 128, 0, 0.664), rgba(255, 255, 0, 0.781) );
    margin-top: 400px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
   
    
    
}
.caja h1{
    font-size: 22px;
    margin-bottom: 20px;
    color: green;
    text-align: center;
    
}
#name {
    width: 80%;
    background: #edf3ed91 ;
    border-radius: 5px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(233, 236, 228);
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin: 5px;
    margin-left: 15px;


    
    
}
#fecha{
    width: 50%;
    background: #edf3ed8a ;
    border-radius: 5px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(220, 252, 169, 0.822);
    padding-left: 15px;
    margin: 5px;
    margin-left: 15px;
    
}

.btn{
    padding: 15px 35px;
    font-size: 15px;
    background: linear-gradient(130deg,rgba(0, 128, 0, 0.774),rgb(255, 255, 0));
    color: red;
    font-weight: 300;
    border-radius: 10px;
    border: solid 1px #a4f8689a;
    margin: 5px;
    
    
}



